body
{
    margin: 0;
    padding: 0;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #666666;
    background-color: #25354A;
}

a:link, a:visited
{
    color: #C08255;
    text-decoration: none;
}

a:hover
{
    color: #666666;
    text-decoration:none;
}

div.wholepage
{
    margin: 1% 5%;
    padding: 0;
}

div
{
    margin: 0;
    padding: 0;
}

h1
{
    color: #25354A;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
}

h2
{
    font-size: 16px;
}

h3
{
    font-size: 14px;
    font-weight: bold;
}

/* +++ Start Of Header Section +++ */

#header
{
    margin: 0;
    padding: 0;
}

.superheader
{
    background-color: #857B5D;
    color: white;
    text-align: right;
    padding: 0.3em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
}

.mainheader
{
    margin:0;
    padding: 1em;
    background-color: white;
    background-image:url(headbg_1.jpg);
    background-repeat:no-repeat;
    background-position:right top;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
}

.subheader
{
    margin: 0;
    padding: 0.5em;
    font-size: 20px;
    text-align:center;
    color: white;
}

#logo-c
{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 5em;
}

#logo-img
{
    color: white;
    margin: 0;
    padding: 0.5em;
}

#logo-subtext
{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

/* +++ Start Of Side Menu Section +++ */

#sidecontainer
{
    margin: 0;
    padding: 0;
    float: left;
    width: 25em;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}

#sidecontainer h2
{
    background-color: #857B5D;
    display: block;
    margin: 0;
    padding: 3px;
    color: white;
    font-weight: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
}

.nav
{
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
}

.nav li
{
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px solid #25354A;
}

.nav a:link, .nav a:visited
{
    display: block;
    text-decoration: none;
    color: #25354A;
    margin: 0;
    padding: 5px;
}

.nav a:hover
{
    color: #666666;
    background-color: #D4C085;
}

.nav a:active
{
    color: #666666;
}

/* +++ Start Of Content Section +++ */

#content
{
    margin: 0 0 0 26em;
    padding: 1em;
    background-color: white;
    min-height: 420px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 8px;
}

#content img
{
    border-style: none;
}

#content h1
{
    margin: 0 0 3px 0;
}

#content h2
{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#content .text
{
    margin: 0 0 25px 0;
}

#content .absatz
{
    margin: 0 0 5px 0;
}

#content #bowling-thumbnail-veranst
{
    margin: 10px 0 0 50px;
}

#content #bowling-thumbnail
{
    float: right;
    margin: 10px 20px;
}

.centered
{
    display: block;
    margin: 0px auto 1em auto;
}

img.xkcd
{
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

#fachrateinzeltab
{
}

/* +++ Start of Footer Section +++ */

#footer
{
    clear: both;
    margin-bottom: 1em;
    float: right;
    padding: 0;
    background-color: white;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}

#footer p
{
    font-size: 12px;
    color: #999999;
    margin: 0;
    padding: 3px;
    border-top: 4px dotted #D2A951;
}

#footer a
{
    color: #25354A;
}
